.find-cars-left{
 background: linear-gradient(rgb(249, 168, 38, 0.9), rgb(249, 168, 38, 0.9) ),
 url('../assets/all-images/toyota-offer-2.png');
 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  padding: 65px 35px;
}
.find-cars-left{
font-size: 2.8rem;
font-weight: 800;
}

.form-group{
width: 30%;
margin-bottom: 0;
}
.form-group input {
 border: 1px solid #7c8a97 !important;
 padding: 8px 12px;
 width: 100%; 
 outline: none;
}
.form-group input::placeholder{
    color: #7c8a97;
}
.form{
 background-color: #fff;
 padding-top: 55px; 
 padding-bottom: 50px;
 padding-left: 15px;
 padding-right: 15px;
}
.select-group{
    width: 30%;
}
.select-group select{
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #7c8a97;
  outline: none;
 color: #7c8a97;
}
.hero-slider-section{
    position: relative;
      z-index:10 ; 
      margin-bottom: 200px;
    }
  .hero-form {
  position: absolute;
  bottom:  -150px;
  z-index: 11;

width: 100% ;

  }
.form-row{
    background: #fff;
   box-shadow: 5px 5px 15px -5px #7c8a97
}
.journey-time::before{
 content: "journey time";
  margin-right: 0.8rem;
  color: #7c8a97;
}

.find-car-btn{
background: #000d6b !important;
color: #fff !important;
padding: 8px 15px !important;
width: 100% !important;
border: none !important;
outline: none !important;
}

@media only screen and (max-width: 992px) {


.find-cars-left {
  padding: 65px 22px;

}
.find-cars-left h2 {
font-size: 1.5rem;
}

.form{
  padding: 30px 10px;

}
.form-group input, .select-group select{
   padding: 7px 10px;
    font-size: 0.8rem; 
}
.hero-form{
  bottom: -100px;
}

}

@media only screen and (max-width: 768px) {
.find-cars-left {

padding-top: 20px;
padding-bottom: 0;
background: #fff;
text-align: center;
}


.form{
  padding: 20px 10px;
}



}

@media only screen and (max-width: 576px) {
  .form-group {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
.form-group input{
  font-size: 0.7rem !important;
}
.select-group{
  width: 100%;
  
  font-size: 0.7rem;
}
.find-car-btn{
  font-size: 0.8rem;  
}
.find-cars-left h2{
  font-size: 1rem;
}
.hero-form{
  bottom: -250px;
}
}